.friendList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* width: 165px; */
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff1f;
  box-shadow: 0 0 40px rgb(250, 117, 255), 0 0 40px white, 0 0 40px rgba(0, 0, 0, 0.5);
  }
  